<li id="{{ id }}" class="card status" data-json="{{ json }}">
  <div class="card-header">
    <a href="{{ accountUrl }}" target="_blank"><img class="avatar"
        src="{{ accountAvatarUrl }}" width="48" height="48" /></a>
    <h5 class="card-title">{{ accountName }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">@<a href="{{ accountUrl }}" target="_blank">{{ accountUrl }}</a></h6>
  </div>
  <div class="card-body">
    <div class="card-text">
      {{#or spoilerText summary }}
        <h6><span class="spoiler-text badge text-bg-warning">{{ default spoilerText summary }}</span></h6>
      {{/or}}
      {{#eq type "Announce"}}
        ♻️ <a href="{{ object }}" class="retoot">{{ object }}</a>
      {{/eq}}
      {{#if content }}
        {{{ content }}}
      {{/if}}
    </div>
  </div>
  {{#if media_attachments.length }}
    <ul class="list-group list-group-flush">
      <li class="list-group-item media-attachments">
        {{#each media_attachments }}
          <img class="media-attachment" src="{{ preview_url }}" width="48" height="48"
              data-bs-toggle="modal" data-bs-target="#exampleModal"
              data-fullsrc="{{ coalesce remote_url preview_url }}" title="{{ description }}" />
        {{/each}}
      </li>
    </ul>
  {{/if}}
  <div class="card-footer fs-6 text-end text-muted">
    <a href="{{ url }}" target="_blank"><time datetime="{{ publishedAt }}" title="{{ publishedAt }}">{{ shortDateTime publishedAt }}</time></a>
    <button title="Open in home instance" class="goto-home-instance btn btn-outline-primary" data-uri="{{ url }}">🚀</button>
  </div>
</li>
