{{#> pageLayout}}

<main class="form-search w-100 m-auto">

  <form class="w-100 m-auto" method="GET" action="./">
    <div class="container">
      <div class="row">
        <h1 class="text-center">{{ meta.botName }}</h1>
        <div class="col">
          <input id="searchField" name="q" type="text" class="form-control" 
            autofocus placeholder="search" value="{{ search.query }}">
        </div>
        <div class="col-auto">
          <button class="btn btn-outline-primary" type="submit" title="Search">🔎</button>
        </div>
      </div>
    </div>
  </form>

  {{#if error }}
    <section class="container mt-3 m-auto justify-content-center alert alert-danger" role="alert">
      <h2>Error</h2>
      <p>
        {{ error }}
      </p>
    </section>
  {{/if}}

  {{#if search.results}}
    <section class="container mt-3 m-auto justify-content-center">
      <h2 class="text-center">
        {{#if search.query }}
          Search for "{{ search.query }}"
        {{else}}
          Recent
        {{/if}}
        ({{ search.count }} results)
      </h2>
      {{#if search.results}}
        {{> searchPagination}}
        <div class="col">
          <ul class="text-left search-results justify-content-center">
            {{#each search.results}}
              {{> statusResult }}
            {{/each}}
          </ul>
        </div>
        {{> searchPagination}}
      {{/if}}
    </section>
  {{/if}}

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-media-attachment">
      <div class="modal-content mh-vh-100">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-center">
          <figure class="figure">
            <figcaption id="media-attachment-description" class="figure-caption mb-4"></figcaption>
            <img src="" id="media-attachment-display" class="object-fit-xl-contain figure-img img-fluid rounded" alt="...">
          </figure>
        </div>
      </div>
    </div>
  </div>

  {{> pageMeta}}
</main>
{{/pageLayout}}

{{#*inline "searchPagination"}}
  {{#if search.showPagination}}
  <section class="pages container p-3">
    <div class="row justify-content-center">
      {{#with search.pagePrevious}}
        <a class="col-auto btn btn-outline-primary" href="?q={{../search.query}}&limit={{limit}}&offset={{offset}}">⬅️&nbsp;Previous</a>
      {{else}}
        <a class="col-auto btn btn-outline-primary disabled" disabled>⬅️&nbsp;Previous</a>
      {{/with}}
      {{#if search.pages }}
        <form method="get" href="" class="col-auto search-pages">
          <input type="hidden" name="q" value="{{search.query}}" />
          <input type="hidden" name="limit" value="{{search.limit}}" />        
            <select name="offset" class="form-select autosubmit" aria-label="Results page selection">
              {{#each search.pages}}
                <option value="{{offset}}" {{#if current}}selected{{/if}}>{{pageNumber}} of {{../search.pages.length}}</option>
              {{/each}}
            </select>
        </form>
      {{/if}}
      {{#with search.pageNext}}
        <a class="col flex-grow-0 btn btn-outline-primary" href="?q={{../search.query}}&limit={{limit}}&offset={{offset}}">Next&nbsp;➡️</a>
      {{else}}
        <a class="col-auto btn btn-outline-primary disabled" disabled>Next&nbsp;➡️</a>
      {{/with}}
    </div>
  </section>
  {{/if}}
{{/inline}}

{{#*inline "statusResult"}}
  <li id="{{ id }}" class="card status">
    <div class="card-header">
      <a href="{{ accountUrl }}" target="_blank"><img class="avatar"
          src="{{ accountAvatarUrl }}" width="48" height="48" /></a>
      <h5 class="card-title">{{ accountName }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">@<a href="{{ accountUrl }}" target="_blank">{{ coalesce account.acct actor.preferredUsername }}</a></h6>
    </div>
    <div class="card-body">
      <div class="card-text">{{{ content }}}</div>
    </div>
    {{#if media_attachments.length }}
      <ul class="list-group list-group-flush">
        <li class="list-group-item media-attachments">
          {{#each media_attachments }}
            <img class="media-attachment" src="{{ preview_url }}" width="48" height="48"
                data-bs-toggle="modal" data-bs-target="#exampleModal"
                data-fullsrc="{{ coalesce remote_url preview_url }}" title="{{ description }}" />
          {{/each}}
        </li>
      </ul>
    {{/if}}
    <div class="card-footer fs-6 text-end text-muted">
      <a href="{{ url }}" target="_blank"><time datetime="{{ publishedAt }}" title="{{ publishedAt }}">{{ shortDateTime publishedAt }}</time></a>
      <button title="Open in home instance" class="goto-home-instance btn btn-outline-primary" data-uri="{{ url }}">🚀</button>
    </div>
  </li>
{{/inline}}

{{#*inline "pageMeta"}}
  <section class="container page-meta mt-5">
    <div class="card text-center">
      <div class="card-header">
        <h5 class="card-title">Stats</h5>
      </div>
      <div class="card-body table-responsive">
        <table class="table table-sm">
          <tbody>
            {{#each meta as |value name|}}
              <tr>
                <td scope="row">{{ name }}</td>
                <td>{{ value }}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
        <button class="reset-home-instance-domain btn btn-outline-primary">Reset home instance</button>
      </div>
    </div>
  </section>
{{/inline}}